# this is the libindy header files needed for the build, must be published to npm
dist/
node_modules/
build/
build-pre-gyp/
Release/
prebuilds/
.idea/
npm-debug.log
package-lock.json
yarn.lock
**/*.genesis.txn
test/integration/dev.spec.ts
